.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: var(--main-content-bg);
  border: 1px solid var(--border-color);
  min-width: 25px;

  &.success {
    background-color: var(--bg-success);
    border-color: var(--color-success);
    color: var(--color-success);
  }

  &.warning {
    background-color: var(--bg-warning);
    border-color: var(--color-warning);
    color: var(--color-warning);
  }
}