:root {
  --box-shadow: 0 5px 10px rgba(151,164,175,.05);
  --border-color: #e9ecef;
  --btn-color: #e9ecef;
  --btn-active-color: #0784c3;
  --table-row-hover-color: rgba(0, 0, 0, 0.025);
  --main-content-bg: #fafbfd;
  --main-content-accent-bg: #ffffff;
  --color-success: #00a15e;
  --bg-success: #e5f0ee;
  --color-warning: #cc9a06;
  --bg-warning: #fbf0dc;
  --secondary-text-color: #6c757d;
}
